#header2 {
    color:#721817;
    text-align: center;
}
#header3 {
    color:#721817;
    text-align: center;
}
h1  {
    border-width: 4px;
    border-bottom: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
#adamid {
    text-align: right;
    font-style: italic;
}
h2{
    color:#721817;
}
 h1 {
margin-left: auto;
margin-right: auto;
display: block;
}
p > span {
    color:Navy;
    font-size: 20px;
}
#cooltable {
    width: 220%;
    position: relative;
    top: 64px;
    left: -70%;
    font-size: 23px;
    table, th, td {
                border: 2px solid black;
                border-collapse: collapse;
            }
}
#pro {
    text-align: center;
    font-size: 35px;
}
#pro1 {
    text-align: center;
    font-size: 16px;
}
#pro3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#pro4 {
    text-align: center;
    font-size: 35px;
}
#pro5 {
    text-align: center;
    font-size: 16px;
}
#pro6 {
    text-align: left;
    font-size: 16px;
}
div {
    display: flex;
    color :black;
}
#photo { border: 2px solid blue; }
 h1 { color: blue; }
  h2 { color: #721817; }
   div { margin: 4px; }
#tableID {
    table, th, td {
                border: 2px solid black;
                border-collapse: collapse;
            }
}
#hugediv {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
#hugediv2 {
    flex: 1;
}
body {
    background-color: rgb(249, 238, 225);
}
#max {
    border: 2px solid black;
    border-collapse: collapse;
    color: black;
    position: relative;
    top: 15.4px;
    left: 3.23%;
    font-size: 18px;
}